.gray-color{
 color: #e5e5e5 !important;
}

.gray-color-bg{
 background-color: #e5e5e5 !important;
}

.gray-color-border{
 border-color: #e5e5e5 !important;
}

.gray-lighter{
 color: #efefef !important;
}

.gray-lighter-bg{
 background-color: #efefef !important;
}

.gray-lighter-border{
 border-color: #efefef !important;
}

.brand-color-secondary{
 color: #e2e2e0 !important;
}

.brand-color-secondary-bg{
 background-color: #e2e2e0 !important;
}

.brand-color-secondary-border{
 border-color: #e2e2e0 !important;
}

.darkar{
 color: #272727 !important;
}

.darkar-bg{
 background-color: #272727 !important;
}

.darkar-border{
 border-color: #272727 !important;
}

.dark-color-light{
 color: #737373 !important;
}

.dark-color-light-bg{
 background-color: #737373 !important;
}

.dark-color-light-border{
 border-color: #737373 !important;
}

.gray-light{
 color: #f7f7f7 !important;
}

.gray-light-bg{
 background-color: #f7f7f7 !important;
}

.gray-light-border{
 border-color: #f7f7f7 !important;
}

.dark-color{
 color: #4a4a4a !important;
}

.dark-color-bg{
 background-color: #4a4a4a !important;
}

.dark-color-border{
 border-color: #4a4a4a !important;
}

.dark-color-lighter{
 color: #898989 !important;
}

.dark-color-lighter-bg{
 background-color: #898989 !important;
}

.dark-color-lighter-border{
 border-color: #898989 !important;
}

.gray-darkar{
 color: #c6c6c6 !important;
}

.gray-darkar-bg{
 background-color: #c6c6c6 !important;
}

.gray-darkar-border{
 border-color: #c6c6c6 !important;
}

.brand-color-primary{
 color: #6f19f7 !important;
}

.brand-color-primary-bg{
 background-color: #6f19f7 !important;
}

.brand-color-primary-border{
 border-color: #6f19f7 !important;
}

.ph-xb3Gi{
 color: #020216 !important;
}

.ph-xb3Gi-bg{
 background-color: #020216 !important;
}

.ph-xb3Gi-border{
 border-color: #020216 !important;
}

.ph-y8lrZ{
 color: #ffffff !important;
}

.ph-y8lrZ-bg{
 background-color: #ffffff !important;
}

.ph-y8lrZ-border{
 border-color: #ffffff !important;
}

